*{ 
    font-family: Arial, Helvetica, sans-serif; 
} 
.card{ 
    display: flex;     
    flex-direction: column;     
    justify-content: center;      
    align-items: center;     
    height: 100vh; 
} 
 
lable, input {     
    display: block; 
} 
 
.form-input{     
    padding: 10px;     
    background-color: red;     
    border-radius: 5px;     
    border: none; 
    margin-bottom: 12px; 
} 
 
#btn-kirim{ 
    background-color: rgb(35, 23, 47);     
    color: red;     
    padding: 10px;     
    border-radius: 10px;     
    border: none; 
} 
 
#btn-kirim:hover{ 
    background-color: gray; 
    color: black; 
} 
